{{- if and .Values.rbac.enabled .Values.rbac.namespaced -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "quark-assistant.fullname" . }}
  labels:
    {{- include "quark-assistant.labels" . | nindent 4 }}
rules:
{{- with .Values.rbac.rules }}
{{- range . }}
- {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - science.gravity.invisibl.io
  - gravity.invisibl.io
  resources:
  - "*"
  verbs:
  - get
  - list
  - watch
{{- end -}}
